*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(19, 134, 4, 0.534);
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 10);
    background-color: rgba(255, 255, 255, 0);
    font-size: 8vmin;
    color: rgb(9, 9, 9);
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

#reset-btn{
    color: rgb(3, 3, 3);
    background-color: rgba(4, 92, 4, 0.856);
    border: none;
    border-radius: 1rem;
    font-size: 1.25rem;
    padding: 1rem;
    font-weight: bold;
}

#new-btn{
    color: rgb(3, 3, 3);
    background-color: rgba(4, 92, 4, 0.856);
    border: none;
    border-radius: 1rem;
    font-size: 1.25rem;
    padding: 1rem;
    font-weight: bold;
}

#msg{
    color: #000000;
    font-size: 6vmin;
}

.msg-container{
    height: 20vmin;
}

.hide{
    display: none;
}